.body{
    margin: 0 auto;
    padding: 0px;
}
#pn{
    background: #e8e8e8;
    width: 600px;
    display: block;
    margin: 0 auto;
    font-size: 9pt;
    height: auto;
}
.slide{
    margin:0 auto;
    padding:0px;
    width: 600px;
    border-top: solid 4px gray;
}
.btn-slide{
    background: gray;
    width: 120px;
    height:30px;
    text-align: center;
    margin: 0 auto;
    display: block;
    color:#fff;
    text-decoration: none;
    padding: 10px 0 0 0;
}
p{
    margin:0 auto;
}